* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.navbar {
  padding: 0px 0px 0px 0px;
}

.navbar-light .navbar-brand {
  color: #ffffff;
  background-color: #4aaaa5;
  padding: 10px;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-light .navbar-nav .nav-link {
  color: #4aaaa5;
  font-size: 14px;
  font-weight: bold;
  padding-right: 30px;
}
.jumbotron-fluid {
  height: 800px;
  background-image: url("../Images/jb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#homepage{
  padding: 70px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  background: transparent;
  font-weight: bold;
  color: white;
}
.img-thumbnail {
 background: transparent;
 size:50%;
  /* margin-right: 15px; */
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.container {
  width: 100%;
  background-color: white;
  /* margin-top: 100px; */
  margin-bottom: 30px;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.page-header {
  color: #4aaaa5;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #cccccc; 
  margin-bottom: 15px;
}

.btn-outline-info {
margin-top: 10px;
margin-right: 20px;
}
.card {
  /* width: 19rem; */
  height: 25rem;
  margin-top: 20px;
  border-color: lightblue;
  border-width: 3px;
  border-style: outset;
}
.card-img-top {
  height: 200px;
}
.card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
}
.card-text {
  height: 50px;
}
#contact {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;;
  color: grey;
  text-align: center;
  padding: 20px;
  border-top: 10px solid;
  border-color: #4aaaa5;
}