* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.navbar {
  padding: 0px 0px 0px 0px;
}
.navbar-light .navbar-brand {
  color: #ffffff;
  background-color: #4aaaa5;
  padding: 10px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar-light .navbar-nav .nav-link {
  color: #4aaaa5;
  font-size: 14px;
  font-weight: bold;
  padding-right: 30px;
}
.jumbotron {
  background-image: url("../Images/jb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 0px;
  height: 100vh;
}
#homepage {
  margin-top: 200px;
  width: 100%;
  text-align: center;
  font-size: 70px;
  background: transparent;
  font-weight: bolder;
  color: white;
  font-family: "Lato", sans-serif;
  letter-spacing: 3px;
}
.img-thumbnail {
  background: transparent;
  size: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 100%;
  background-color: white;
  /* margin-top: 100px; */
  /* margin-bottom: 30px; */
  padding: 40px;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background-: transparent; */
}

.section {
  background-image: url(../Images/janke-laskowski-gneiEi5yN1s-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.page-header {
  color: #4aaaa5;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  margin-bottom: 15px;
  overflow: auto;
}
.bio {
  font-family: "Lusitana", serif;
  font-size: 22px;
  text-align: justify;
}

.btn-outline-info {
  margin-top: 10px;
  margin-right: 20px;
}
.card {
  height: 25rem;
  margin-top: 20px;
  border-color: lightblue;
  border-width: 3px;
  border-style: outset;
}
.card-img-top {
  height: 200px;
}
.card-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4aaaa5;
}
.card-text {
  height: 50px;
}
#contact {
  color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: grey;
  text-align: center;
  padding: 20px;
  border-top: 10px solid;
  border-color: #4aaaa5;
}
.imageAbout {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}
